.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #f7faf9;
    width: 200px;
    min-width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 1000;
    transition: all .3s;
}

.sidebar__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 16px;
    max-width: 160px;
    margin: 0 auto;
}

.sidebar__img {
    width: 100%;
    height: 40px;
}

.sidebar__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 60px);
    padding-bottom: 20px;
    overflow-y: auto;
}

.sidebar__top {
    margin-top: 40px;
}

.sidebar__link__wrapper {
    display: flex;
    align-items: center;
    height: 56px;
    color: #032b41;
    margin-bottom: 8px;
    cursor: pointer;
}

.sidebar__icon__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    margin-left: 16px;
    font-size: 24px;
}

.sidebar__link__wrapper_link_not_allowed {
    cursor: not-allowed;
}